/* WebStudio */
a[href^="/"]{
    font-family: 'Raleway';
    font-weight: 700;
}
/* Navigation */
.nav{
    font-family: 'Roboto';
    font-weight: 500;
}

h1{
    font-family: 'Roboto';
    font-weight: 900;
}

button{
    font-family: 'Roboto';
    font-weight: 700;
}
/* Опис якостей */
.description2{
    font-family: 'Roboto';
    font-weight: 700;
}
.description{
    font-family: 'Roboto';
    font-weight: 400;
}
/* Чим займаються */
section h2{
    font-family: 'Roboto';
    font-weight: 700;
}
/* Команда */
section h3{
    font-family: 'Roboto';
    font-weight: 500;
}

section p{
    font-family: 'Roboto';
    font-weight: 400;
}
/* Адрес і контакти */
.address{
    font-family: 'Roboto';
    font-weight: 400;
}

.contact{
    font-family: 'Roboto';
    font-weight: 400;
}